<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer th:fragment="footer">
      <!-- Start Footer aera -->
      <footer class="rbt-footer footer-style-1 bg-color-white overflow-hidden">
        <div class="footer-top">
          <div class="container">
            <div class="row g-5">
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="footer-widget">
                  <div class="logo logo-dark">
                    <a th:href="@{/home}">
                      <img th:src="@{/assets/images/logo/logo-vtt.png}" alt="Edu-cause" />
                    </a>
                  </div>
                  <div class="logo d-none logo-light">
                    <a th:href="@{/home}">
                      <img th:src="@{/assets/images/dark/logo/logo-vtt-light.png}" alt="Edu-cause" />
                    </a>
                  </div>

                  <p class="description mt--20">
                    Chúng tôi luôn tìm kiếm những người tài năng và có động lực. Đừng ngại ngần giới thiệu bản thân!
                  </p>

                  <ul class="social-icon social-default justify-content-start">
                    <li>
                      <a href="https://www.facebook.com/">
                        <i class="feather-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.twitter.com/">
                        <i class="feather-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/">
                        <i class="feather-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/">
                        <i class="feather-linkedin"></i>
                      </a>
                    </li>
                  </ul>

                  <div class="contact-btn mt--30">
                    <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" th:href="@{/contact}">
                      <div class="icon-reverse-wrapper">
                        <span class="btn-text">Liên hệ với chúng tôi</span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget">
                  <h5 class="ft-title">Sản phẩm</h5>
                  <ul class="ft-link">
                    <li>
                      <a th:href="@{/courses}">Khoá học</a>
                    </li>
                    <li>
                      <a th:href="@{/bai-viet}">Bài viết</a>
                    </li>
                    <li>
                      <a th:href="@{/contact}">Liên hệ</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget">
                  <h5 class="ft-title">Chính sách & hỗ trợ</h5>
                  <ul class="ft-link">
                    <li>
                      <a href="#">Bài viết</a>
                    </li>
                    <li>
                      <a href="#">Khoản dịch vụ</a>
                    </li>
                    <li>
                      <a href="#">Chính sách bảo mật thông tin</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="footer-widget">
                  <h5 class="ft-title">Nhận liên hệ</h5>
                  <ul class="ft-link">
                    <li>
                      <span>Phone:</span>
                      <a href="#">(406) 555-0120</a>
                    </li>
                    <li>
                      <span>E-mail:</span>
                      <a href="mailto:hr@example.com">viettutor@pro.edu.vn</a>
                    </li>
                  </ul>

                  <form class="newsletter-form mt--20" action="#">
                    <h6 class="w-600">Bản tin</h6>
                    <p class="description">
                      Hơn 2000 học viên của chúng tôi đã đăng ký trên toàn thế giới.
                      <br />
                      Đừng ngại ngần giới thiệu bản thân!
                    </p>

                    <div class="form-group right-icon icon-email mb--20">
                      <label for="email">Nhập Email của bạn vào đây</label>
                      <input id="email" type="email" />
                    </div>

                    <div class="form-group mb--0">
                      <button class="rbt-btn rbt-switch-btn btn-gradient radius-round btn-sm" type="submit">
                        <span data-text="Gửi ngay">Gửi ngay</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rbt-separator-mid">
          <div class="container">
            <hr class="rbt-separator m-0" />
          </div>
        </div>
        <!-- Start Copyright Area  -->
        <div class="copyright-area copyright-style-1 ptb--20">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                <p class="rbt-link-hover text-center text-lg-start">
                  Bản quyền ©
                  <a href="#">Viettutor</a>
                  | Bảo lưu mọi quyền.
                </p>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                <ul
                  class="copyright-link rbt-link-hover justify-content-center justify-content-lg-end mt_sm--10 mt_md--10"
                >
                  <li><a href="#">Điều khoản dịch vụ</a></li>
                  <li><a href="privacy-policy.html">Chính sách bảo mật</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Copyright Area  -->
      </footer>
      <!-- End Footer aera -->
      <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
      </div>
      <div id="my_switcher" class="my_switcher">
        <ul>
          <li>
            <a href="javascript: void(0);" data-theme="light" class="setColor light">
              <img th:src="@{/assets/images/about/sun-01.svg}" alt="Sun images" />
              <span title="Light Mode">Sáng</span>
            </a>
          </li>
          <li>
            <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
              <img th:src="@{/assets/images/about/vector.svg}" alt="Vector Images" />
              <span title="Dark Mode">Tối</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
