<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="instructor-banner">
      <!-- Start Dashboard Top  -->
      <div class="rbt-dashboard-content-wrapper">
        <div
          class="tutor-bg-photo height-350"
          style="
            background-image: url('/assets/images/bg/bg-image-5.jpg');
            background-size: cover;
            background-position: center;
          "
        ></div>
        <!-- Start Tutor Information  -->
        <div class="rbt-tutor-information">
          <div class="rbt-tutor-information-left">
            <div class="thumbnail rbt-avatars size-lg">
              <img
                th:src="@{'/uploads/users/' + ${user.image}}"
                onerror="this.onerror=null; this.src='/assets/images/team/user-icon.png';"
                alt="Avatar"
              />
            </div>
            <div class="tutor-content">
              <h5 class="title" th:text="${user.fullname}"></h5>
              <div class="rbt-review">
                <div class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <span class="rating-count"> (15 Reviews)</span>
              </div>
            </div>
          </div>
          <div class="rbt-tutor-information-right">
            <div class="tutor-btn">
              <a class="rbt-btn btn-md hover-icon-reverse" th:href="@{/instructor/create-course}">
                <span class="icon-reverse-wrapper">
                  <span class="btn-text">Tạo khóa học mới</span>
                  <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                  <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- End Tutor Information  -->
      </div>
      <!-- End Dashboard Top  -->
    </div>
  </body>
</html>
