<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <div th:fragment="content">
        <a class="close_side_menu" href="javascript:void(0);"></a>

        <div class="rbt-page-banner-wrapper">
            <!-- Start Banner BG Image  -->
            <div class="rbt-banner-image"></div>
            <!-- End Banner BG Image  -->
        </div>

        <!-- Start Card Style -->
        <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Dashboard Top  -->
                        <div class="rbt-dashboard-content-wrapper">
                            <div class="tutor-bg-photo bg_image bg_image--22 height-350"></div>
                            <!-- Start Tutor Information  -->
                            <div class="rbt-tutor-information">
                                <div class="rbt-tutor-information-left">
                                    <div class="thumbnail rbt-avatars size-lg">
                                        <img src="assets/images/team/avatar.jpg" alt="Instructor">
                                    </div>
                                    <div class="tutor-content">
                                        <h5 class="title" th:text="${name}"></h5>
                                        <div class="rbt-review">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="rating-count"> (15 Reviews)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="rbt-tutor-information-right">
                                    <div class="tutor-btn">
                                        <a class="rbt-btn btn-md hover-icon-reverse"
                                            th:href="@{/instructor/create-course}">
                                            <span class="icon-reverse-wrapper">
                                                <span class="btn-text">Tạo khóa học mới</span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Tutor Information  -->
                        </div>
                        <!-- End Dashboard Top  -->

                        <div class="row g-5">
                            <div class="col-lg-3">
                                <!-- Start Dashboard Sidebar  -->
                                <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                    <div class="inner">
                                        <div class="content-item-content">

                                            <div class="rbt-default-sidebar-wrapper">
                                                <div class="section-title mb--20">
                                                    <h6 class="rbt-title-style-2">Chào mừng, <span
                                                            th:text="${name}"></span></h6>
                                                </div>
                                                <nav class="mainmenu-nav">
                                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                        <li><a th:href="@{/instructor/dashboard}"><i
                                                                    class="feather-home"></i><span>Bảng chung</span></a>
                                                        </li>
                                                        <li><a th:href="@{/instructor/profile}"><i
                                                                    class="feather-user"></i><span>Thông tin của
                                                                    tôi</span></a>
                                                        </li>
                                                        <li><a th:href="@{/instructor/reviews}"><i
                                                                    class="feather-star"></i><span>Reviews</span></a>
                                                        </li>
                                                        <li><a th:href="@{/instructor/order-history}"><i
                                                                    class="feather-shopping-bag"></i><span>Lịch sử đơn
                                                                    hàng</span></a></li>
                                                    </ul>
                                                </nav>

                                                <div class="section-title mt--40 mb--20">
                                                    <h6 class="rbt-title-style-2">Instructor</h6>
                                                </div>

                                                <nav class="mainmenu-nav">
                                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                        <li>
                                                            <a th:href="@{/instructor/courses}">
                                                                <i class="feather-monitor"></i><span>Khóa học của
                                                                    tôi</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a th:href="@{/instructor/announcements}">
                                                                <i class="feather-volume-2"></i><span>Thông báo</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>

                                                <div class="section-title mt--40 mb--20">
                                                    <h6 class="rbt-title-style-2">User</h6>
                                                </div>

                                                <nav class="mainmenu-nav">
                                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                        <li><a th:href="@{/instructor/settings}"><i
                                                                    class="feather-settings"></i><span>Settings</span></a>
                                                        </li>
                                                        <li><a href="index-2.html"><i
                                                                    class="feather-log-out"></i><span>Logout</span></a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- End Dashboard Sidebar  -->
                            </div>

                            <div class="col-lg-9">
                                <!-- Start Enrole Course  -->
                                <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                                    <div class="content">
                                        <div class="section-title">
                                            <h4 class="rbt-title-style-3">Lịch sử đơn hàng</h4>
                                        </div>

                                        <div class="rbt-dashboard-table table-responsive mobile-table-750">
                                            <table class="rbt-table table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th>Mã đơn hàng</th>
                                                        <th>Tên khóa học</th>
                                                        <th>Người mua</th>
                                                        <th>Ngày mua</th>
                                                        <th>Giá</th>
                                                        <th>Trạng thái</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr th:each="order : ${orders}">
                                                        <td th:text="'#' + ${order.orderId}"></td>
                                                        <td>
                                                            <span th:each="detail, iterStat : ${order.orderDetails}"
                                                                th:if="${detail.course.createdBy.id} == ${instructorId}">
                                                                <span th:text="${detail.course.title}"></span><span
                                                                    th:if="${!iterStat.last}">, </span>
                                                            </span>
                                                        </td>
                                                        <td th:text="${order.user.fullname}"></td>
                                                        <td th:text="${#dates.format(order.createdAt, 'dd/MM/yyyy')}">
                                                        </td>
                                                        <td>
                                                            <span th:each="detail, iterStat : ${order.orderDetails}"
                                                                th:if="${detail.course.createdBy.id} == ${instructorId}">
                                                                <span
                                                                    th:text="${#numbers.formatDecimal(detail.price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span><span
                                                                    th:if="${!iterStat.last}">, </span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span
                                                                th:class="'rbt-badge-5 ' + (${order.status} == 'paid' ? 'bg-color-success-opacity color-success' : 'bg-color-danger-opacity color-danger')"
                                                                th:text="${order.status == 'paid' ? 'Thành công' : 'Thất bại'}"
                                                                style="font-size: 15px;">
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <!-- End Enrole Course  -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Card Style -->

        <div class="rbt-separator-mid">
            <div class="container">
                <hr class="rbt-separator m-0">
            </div>
        </div>
        <div class="rbt-progress-parent">
            <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
    </div>
</body>


<!-- Mirrored from rainbowit.net/html/histudy/instructor-order-history.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Jun 2025 15:45:53 GMT -->

</html>